export SKIP_ARMBIAN_REPO=yes
#export EXTRA_PACKAGES_ROOTFS="policykit-1 policykit-1-gnome xfce4-clipman xfce4-clipman-plugin catfish synaptic chromium-browser geany geany-common"

display_alert "Building [\e[0;33m >>> Dreambox Custom Armbian <<< \x1B[0m]"
display_alert "Building [\e[0;33m Image for: ${BOARD_NAME} \x1B[0m]"

#ASOUND_STATE="asound.state.dreambox"

#compile_uboot() {
# display_alert "Building [\e[0;33m >>> Dreambox compile_uboot() <<< \x1B[0m]"
#}

uboot_custom_postprocess() {
	display_alert "Setting [\e[0;33m ${BOARD_NAME} dummy fip (uboot_custom_postprocess) \x1B[0m]"
	uboot_g12_postprocess "$SRC"/cache/sources/amlogic-boot-fip/bananapi-m2s g12b
}

write_uboot_platform() {
	display_alert "Write [\e[0;33m ${BOARD_NAME} (write_uboot_platform) \x1B[0m]"
	dd if="${USERPATCHES_PATH}/u-boot/u-boot-${BOARD_NAME}/u-boot.bin" of="${LOOP}" conv=fsync,notrunc bs=1 count=440
	dd if="${USERPATCHES_PATH}/u-boot/u-boot-${BOARD_NAME}/u-boot.bin" of="${LOOP}" conv=fsync,notrunc bs=512 skip=1 seek=1
}

family_tweaks_bsp() {
	display_alert "Installing [\e[0;33m ${BOARD_NAME} xorg.conf (family_tweaks_bsp) \x1B[0m]"

	mkdir -p $destination/etc/udev/rules.d
	mkdir -p $destination/usr/local/bin
	mkdir -p "$destination"/etc/X11/xorg.conf.d

	cat <<- EOF > "$destination"/etc/X11/xorg.conf
		Section "Device"
			Identifier  "DRM Graphics Acclerated"

			## Use modesetting and glamor
			Driver      "modesetting"
			Option      "AccelMethod"    "glamor"     ### "glamor" to enable 3D acceleration, "none" to disable.
			Option      "DRI"            "2"
			Option      "Dri2Vsync"      "true"
			Option      "TripleBuffer"   "True"
			## End glamor configuration

			EndSection

			Section "Screen"
			Identifier "Default Screen"
				SubSection "Display"
				Depth 24
				EndSubSection
			EndSection
	EOF
}

family_tweaks() {
	display_alert "Installing from userpatches [\e[0;33m ${BOARD_NAME} related stuff... (family_tweaks) \x1B[0m]"

	cp -r "${USERPATCHES_PATH}/sources/${BOARD_NAME}/boot" ${SDCARD}

	mkdir -p ${SDCARD}/root/usr/share/alsa/cards
	install -m 644 "${USERPATCHES_PATH}/sources/${BOARD_NAME}/root/axg-sound-card.conf" ${SDCARD}/usr/share/alsa/cards

	echo "consoleargs=console=ttyAML0,1000000 console=tty0 systemd.debug_shell=ttyAML0 dynamic_debug.verbose=3" >> ${SDCARD}/boot/armbianEnv.txt
	sed -i "s/console=both/console=/g" "${SDCARD}"/boot/armbianEnv.txt

	echo "dreambox" > ${SDCARD}/etc/hostname

	### display_alert "BluePanel [\e[0;33m add feed and key \x1B[0m]"
	### mkdir -p "${SDCARD}"/usr/share/keyrings
	### gpg --dearmor < "${USERPATCHES_PATH}"/sources/${BOARD_NAME}/info@ihad.tv.key > "${SDCARD}"/usr/share/keyrings/gemini.gpg
	### SIGNED_BY_GEMINI="[signed-by=/usr/share/keyrings/gemini.gpg] "
	### SIGNED_BY_GEMINI="[trusted=yes] "

	### mkdir -p "${SDCARD}"/etc/apt/sources.list.d
	### echo "deb ${SIGNED_BY_GEMINI}http://download.blue-panel.com/pyro/armbian-sid-updates/${BRANCH} ./" > "${SDCARD}"/etc/apt/sources.list.d/bluepanel.list

}

post_aggregate_packages() {
	display_alert "Installing from userpatches [\e[0;33m extra deb... (post_aggregate_packages) \x1B[0m]"

	/usr/bin/apt-get update
	/usr/bin/apt-get install -y policykit-1 policykit-1-gnome xfce4-clipman xfce4-clipman-plugin catfish synaptic chromium-browser geany geany-common
	/usr/bin/apt-get install -f --allow-unauthenticated -y
	/usr/bin/apt-get clean

}

pre_prepare_partitions() {
	display_alert "Current bootlabel [\e[0;33m ${BOARD_NAME} ${BOOT_FS_LABEL} (pre_prepare_partitions) \x1B[0m]"
}
